*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    line-height: 1.4;
    font-weight: 300;    
}
button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
/* Navigation */
nav{
    box-shadow: yellow;
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: rgb(186, 171, 171);
    padding: 10px;
    z-index: 50;
}
.navigation{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.bar_icon{
    font-size: 24px;
}
/* hero section */
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero_content{
    display: flex;
    flex-direction: column;    
    gap: 20px;
}
.tag{
    background-color: rgb(33, 131, 49);
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}
.hero_content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 530;
}
.explore_btn{
    background-color: rgb(228, 157, 70);
    align-self: flex-start;
}
/* Features */
.features{
    margin-top: 100px;
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    transition: 0.2 ease-in-out;
}
.feature{
    display: flex;
    gap: 20px;
}
.feature img{
    width: 72px;
}
.feature:hover{
    transition: 0.2 ease-in-out;
    box-shadow: 5px 5px 5px gray;
}
.divider{
    border: 1px solid #9f9b9b;
    margin: 20px 0;
}
/* menu section */
.menu{
    display: flex;
    flex-direction: column;
    gap:50px;
    margin: 20px 0;
    align-items: center;
}
.grid-image{
    border-radius: 10px;
    transition: 0.2 ease-in-out;
    width: 100%;
    height: 100%;
}

.grid-image:hover{
    transform: scale(1.05);
    transition: 0.2 ease-in-out;
}

.grid{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "I1 I4 I2"
    "I1 I4 I3"
    "I1 I4 I5"
    ;
}

.menu .tag{
    align-self: center;
}

.item1{
    grid-area: I1;
}

.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}

/* Footer Section */
footer{
    padding-top: 30px;
    margin-top: 60px;
    background-color: rgb(168, 151, 129);
}
.fotter_container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.link_list h3{
    margin-bottom: 10px;
    color: rgb(149, 66, 66);
}
.news_letter h3{
    margin-bottom: 10px;
    color: rgb(149, 66, 66);
    margin-bottom: 5px;
}

.link_list ul{
    list-style: none;
}
.link_list ul li{
    font-size: 16px;
    margin-bottom: 5px;
}
.news_letter input{
    padding: 5px 40px;
    margin-bottom: 10px;
}
.news_letter img{
    height: 60px;
    border-radius: 50px;
}

@media(max-width:786px){
    .hero{
        flex-direction: column;

    }
    .hero_image img{
        display: flex;
        justify-content: center;
    }
    .hero_image img{
        width9:90%;
        margin: 0 auto;
    }
    .hero_content{
        gap: 10px;
        padding: 10px;
    }
    .hero_content h1{
        font-size: 32px;
        line-height: 1.2;

    }
    .features{
        flex-direction: column;
   
    }
    .feature{
        flex-direction: column;
    }
    .grid{
        padding: 10px;
    }
    .grid-image{
        border: 0px;
    }
    .fotter_container{
        flex-direction: column;
    }
}