*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color:rgb(184, 184, 255);
    min-height: 100vh;
    border: 15px solid rgb(46, 15, 75);
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.image-container,
img{
   width: 300px;
   height:350px;
   border-radius: 45%; 

}

.top-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100px;
}

.top-section h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(24, 24, 86);
    text-transform: uppercase;
}
.top-section h4{
    text-align: end;
    font-size: 28px;
    color: rgb(24, 24, 86);
}

.about-section{
    margin-top: 50px;
}

.about-section h2{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;
}

.about-section p{
    font-size: 20px;
    line-height: 30px;
    word-spacing: 1.2px;
    text-align: justify;
}

.biography-section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.biography-section h3{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 15px;
}

.biography-section ul{
    margin-left: 50px;
    
}

.biography-section li{
    margin-bottom: 15px;
    font-size: 20px;
}

footer{
    margin:50px 0;
    font-size: 20px;
}

footer p{
   text-align: end; 
}


